/node_modules
/public/hot
/public/uploads
/public/storage/framework/
storage/framework/views/
storage
/storage/*.key
storage/framework
/storage/framework
/public/img
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/gitignore
/server.php
.phpintel/*
/.phpintel
storage/logs/laravel.log
vendor
vendor/
.idea/vcs.xml
